**Prettier 3.5.3**
[Playground link](https://prettier.io/playground/#N4Igxg9gdgLgprEAuEALGBbANgAmAHSkPxiwEso4BaVOMgc3SRwEYA6FgVgG5iiYqAdzgAjANZkB8AB4CAzmQBe1AIYATAFYBXOTGYsADAYCkfAL58RENQE88fEhhUAnehWYHzfAFT2i-K2kqBUUKemYrZzU4ZypAr38nCj9iGDUyOQAHLBUbCKwIMDEEwiQVMBgyADc4ABocJAAzQp16pFQIGucU-ggtUgo4D15-EiFRCSkVTJoGVHJGAUgC52YYZxUoLJcEGBKoVBYekmbYYKUhnAAmOAwR1KdXdxw2ADYAdlucT38Lf1RugRRjBAudQlBwjhILBdnEINJ7vxaHM9N9ESROjFGgVBMwqhkyCIsHB9plnHBjjBTgJGioMGQsHkcBhoBBtmA6szWey4OiqdB5Bd9Ld9ipKSJymJ6M4+lA1FRlhBVjh1pttuTYKKRCJnABtSqkOAAXXFSuisSsMBgEAwzCg0F5DitcFkVGikA2lWgzC0cpi5EofPG4kkVBkAndSpUXqgPr9zgDFLUEGdaj54bdcA90bI3pwvvNiZwydT+xE9V0MohlOp4xREQgWHN+0g0XqYhEagrdMyNYFVFp9MZzBZ9p59VHbMy5UdwNrIUuLBFvz4cicWFwQNS86FOAAHCZ9nItOWcMfe1v+DvlMx3pxjHzEzQ6Ithk7MmzJLnYzhyTlKjUfJdJUYAqFgVBgQwP4SnIcCJkeJ6mlaNrMFQbBXJwy6EH8hDnpS1qZKhbCYRg+xkBg9CmlEMTBDANjEnaDplv01pQJS05qOkEJvsCkTmoxgZOtSzAULQziSHyirKqJMQSU6EpFNKsrylJawbFs04ajAklaM4chKswH4UPAzjMchUD1BQmT9PUECZDASlaJkFZwVmMD1OGOxipeJz9oODJMjJ4naUJ-YLvoRgPk6T7Iq+rAcDwTqPG4P4-NhlgsdAllQNZMCUpizjYhAuI4PiChEiSK7+CImUWWerkVPhLpSOpcjNM4to4PalD7PqNiZHAAC8NXmUa9R9QNg3krBMBjTgE1DceIj0rN9QjaxlLBpMEGZANLibByES1b1dGTet0BGkgSBUCyigDi0chUBQlDOONp1DdNcCzVdN0QHdzRgDoT1QC9b39YtJ4rZd123fdgOPc9MRrbVP2wwDQOI4C8lmjRuj0Zc3WzqkHFcZCaVQDhUALcNtWXb9-0PeJEJg5Nn3ffTcM6Ez9AsxDy2SHTaOM2EyPmTDf2c3I3P5f0ib6Jk0jFim8BqDgABCtUACrNfsjRkHBagzex6ik8wbAAMwkS8d5fG8GFYRTfDEvQCCqz5ILwmCYQNtRFrwpJjYGTgQVycC6RZDkTIwCoFV8k4QSCGQagwKgEUmHyJPe2iTqCKgkjUDyjEdWBpIytKcByHIlLAWQoHgZB9DQSosHwVVhDU2AtBFIEc3Uxs6QQCa7ugiEWd8TRgQZybWfk5T1NQFoGAiDE0NbaGmPBJkFBxLVvODQvS8rz9wghgIfQmZv2-nWx7uxUwOAqP0EAneDg2wS4ndD06a8CNMe3qYdFUzU9YGz5OfJ8EBGiNBmqhK4CsX6TXfs4T+x8JihiQZ3TM2YYybRPttP+cB9pQEAYTfYqDT4DgZNQJyBR1A73MrgtBv9dqEIAZca+fJhLBwOLJPYbc-TRwZFXd24dsi5HyIUYo-DjwYEeHYERGQxFMnILoJ68BSL8N1HnTiCA5rqLEfASkojI4CUqulf4LB6ioCuFY82ViAAsVjOBWNePUC80VBjPnrKwOOLgUoeH2OQeoWhNzYyCKPbiOBx5+wRB41ReMGJdQdFPTiM9fFPFSmZVi2Vcr1ByMvLALliQVA8s1LylJkrPAMHyaJPFibT0idUp0xjxHcKfESSRQEYggTAhBBYP56ScWJHyXO+dN4ziLuuGpkpHJylMY+Txd9UQsDIjlfoTQHoywGJQAJ-CrLrKQGIjkHQmwxEpKpbhYlQ7bjCruEOfDzGEH2Xoa6eD15rIEEcuAJzzTnMDtJHhwVOG3JvJc3hqzcqowll8n5Zz3YXPucCs44UwXBQhesm6CMPlUBhY2X58L-kiUBdcq8ILLj3PRS8zFwNco4pyMcvFcKnQIuJSFOcZKiVXIeY7fwzzSmyHKcPT2ETITRLhNISl1MMGoC-sCH+O1-4HUuOGEBTYgxvIECPJQWdoTwDOPEfh5DtrSqwVGHBCiI6tNIfwzy5JvJOgKkVEqj9rRHgajAXUGAQmVGyMafl0c7XV26bXXpDcfwETIUgFublvx-JWJy3h0zFIygLAmoFToMxyFQOoYqabJCRvldGiosaCXxtRSSkgCkpQprmeWtlqRM3ZuTCVClhrxZ3SLea5lhK61JurcpPN9b+CNpzS21l+xo4VSouaBUjYciZFgswZY87YI1JxrEdkM8J1dhVKgY2qTGllgKEUAAjloFMFJ3aVMyfwgAArWWkHI+xnH8sOYOkAWTQD5FLMAPoEwAApqRyAAPQ-uA7XaA91YAgYg5+qAbA4ApgAJTfuQX+rAgGBQgbAxBqAUGYAwY-RAaACHkM4Hak4GA-78AgFuMvHR8o7K7HBjRpDwSANAdA8g8D0J8OEZtMR+DVpGhIfI0qSj1GQDrC0F9FjIA2P5g41hrjYAeOQc47BwTbBBCQJE2J4uVGaM6agaxpFAhhDePsUYMztF8aTLAjZlpTIOlFF6mAHIldvCDRo++yDNHe7uebnIAAeoNXDVBZU3JfXSAKIkiPQAAITkQ-M4aOsBv17TEPM0KyK6KJPtMXLANmLNxSs009lZwqguDIJsVEBWpkZuamGVqFHsvAhii+e+LB1VMPw8ET9Kcs61Zq+QZucA0zf1hmyII84Bt50idKXIcg65mJ5YQNg4WXByCQMvdql7u0wlgMwGj+B8BwAAJxGBO-wjbvGVCKFjLtpU+3gS6t2MdkAp2LsGBWZ9m74WRCNx23APbfzDuohO2dy7VxruPPgwDhMwPQcEvBx9r7l3zaw7W-D3jkBCJPfJGDvVEPPtQ4MPYrHlNbuQbgLpJHz2ifvZwJD77nBKd8Gp3hpOqwCcvdSG9o7zPSffdeOz-wnPgY85BwzlHxO0dk-eGL9b4WxCKD0LzxnguWeXb3ErnHkGMBqCwPTwnsumfa4MOdvXEvsiPel6bg7cuhfo4MCoa34XnAnhN3z-gAuScu5EO73j6w8ga7N1r4Xl2wBB8g1oFQqcw+O-N5HgwagY94Z0Gob3mv-dk5JH9uHEutCKG24n17Apk8u8aHrqwtgrGYFCcCJZacopyowI9TNFwIKaB0MsyKPWKGd+UN37QugW8D+2rN4jg3IlLS3tIOCEFYAjZq7BCbbeJbTb62uaf83ISLZsMtsCRNehdCdVQaQzBtHRFGNj29GBxs1bPGAckCAH5yhwP++OQgk4pyQPY94c7Ngc7BWUTIVOvHAdAbASkRwbeZvVgfvJ0SmSmWveRHLGkGLN9AAeQGjYgAGU1RuwthghZJGgbMUUWBXgFYA4y0ABiKBMgp0YDbwKtWZLPRTDDciegYDU4NgDQTIegUTTgEwb4JJKgckPadyHAWgowapbwYDeSGZGtFSHtGQtQK4c2K4exPtNgsES4SALoHQ5QnFT8GMJdXYGIOOOAzrPvAwKoVAREKnWgdQJlcvOghgvkJzVCDVAcYkWJMORRExcjPw3xBOX-VOBAzgKg-w1IROZOCIwwdOJKPxKpB+J+FJU2a4PcBWHAKzHIq4Awag9AvQ-QbImI0lM4Ere+d4azZIjJOEZCTqAo+BO9B-dIMUZbV-NiTYVWL-FQMI+IpAc7FgIAkA6QMAp0NgZw-FJ0MYHw7EF0N0MgckYtPMZYReKAPkE4PwpYlYswqERsDYrYmATOSJPcexHIygnI8mEgZAvge-R-Dol-OAN-Hoz-b-OIv-AA0Y0AykKYwhGY4EEgU4yEFgexew1gaInATgIooE-kZFXcK4iVYEO4-wB49o5-Lo9-XopUfWWAHMb0HIOUI-AaUTN4vooIZvexZo8Y7E947eZuAaCocQgkpAFgc2YDc7CY4Ef4lwrGOE+VBYoIdIPY78ZgGUQQY4oU3YmNPMCU44+VUfSoRoGwWdVHM8acDkOIL6YQBAY4pUsgFUtUp3HkbUmAXUzY2Y+EwUUFME2E1IYEhpUEi4xWJEpA-YXk80AAfS9KyGSCvX6J-0GJwEtlb1iPCPH3fCdPEO8RpP2HRKf06JeO6I-wpKDL-2GJ+NpPdk9JiB9L9JvitPlTDTUVuG2yhAsOcGOJLPznb3MJhCrKtK8JwEFJCKbMCNaSFIVJ8INKNL93rJMn1N70NNVP7IrIbOOI+IjIQKSLhJBJjLihuJgFRMIATKeKxPJNxN2AJNjCJMNlAlJLpLTKpJpLJNTPpDw0ZLchZK9DZI5K5L+OmLzN9K3kLIFJ8JrPUXLOlN0BcCHRIBIE-LLOYB-IDX-L2HM1617NHIr0F1Ar-KHN0BHONKZ3gtS0nMDM+IiNDOOPnPEjijjJRI9KfOcHzNfKoCqywBkwqRSLw2JEaFRBdOIoBOfIKHoAgHOV0n0mVCMgnOaQ7KZFbJdE8IEpArbLlQ-P6VLLrOCMWN-PQqdCApkrQvAsVOHL7NgtRA5D4uBGgpQsF20sHLqP8VEJdQgAn1DGlKUhKm6yEh2Osv0FCPTIiKs1MFaMeMxOTKPKnMGMzOAN+JzJIp9LYo4vdmBNMLFIfhEH0iovgGOPotRGELDP4BIAIn0DgXKIAsgsHxa3EzUjVH-BdH-SoCSpQytNVC2FaxVFakKukGKtKowoGL-xnLctSBXKgDXM8teNTK3PxLML3JJLgDPN6O-xPMKNpPJIvIgiyGvM9FzDvM5O5NSFzNIq9JCpgJOIirzERStISsHWOLSt7SLJ8IqrajyqOrhNOqqtbTauYr5OCogHYoAD4uDKQsLmACjxrHD7i2jEznjuqRrMKIzvj-LszJigq1rHqIAXqKINr3rWBhCWjbr3KMSkyAbP9ero5+qejBrhr3jAyxrfjJqGSZrmS5qIAFqHzAqWLVqQqYbKIwrzTpzzsMr3SbsIbyQ3BKwdyjFRKWz5jxLUhmyuzv4BbFiRTZSfx1iMBLS5wdiJbVipbDiZb0wmsw1xSUQnL4acKc5pzEjkrHSD16AqA9rrhxq7rvSvTXqAymqEijB7T+Br0Prxq0jrQRLLUmRCYcAksMAUs0sh1KZOq0aUzAbbbmA-Kxilr+AVqfTrb2yPaxKXRvbkslR-a+QLBuVA7fr1yvLJqgbgzqTxqo6SAY6rbYbGanaECcizLGrnLmBXgvq2bC8IbXq46AiE6olj0xAta9bECm8bDmAa74zs6uqQ78aw6I6ArwaaafTOaMhVQu13zeslLyzDLLCrSV6Bz164SfLmr9bcKnT9AXTs5Lq1b+kt7GyiKUa-qNzzz86vjADQbi6YBS657ubF6HSTjD6q7MqILr0ww7JmAYTf6SBmDWDjCLl6CoFuB5CrSxV+4yAdAIoHasrrxFwXT07h6PLg6jzMadykABqDyhrvKCaB7C6ibzySamSBBybKbn7X64AuaF6S1jrl6pLazvydjXZqz2GvzE6ghuGrTd7sL7wD6jaPBRCDAzakb+B2qGGmHyaoAnr7U3Cg4drgR-7TamKbskg3ziYtqfw-wcxAJ+KO6hLf7hbBb+BzGZTFal1lbZbtx5bljJb7GqKVbdbgz9aPTdGfSWQ1AwJxQlDlJZ0y1XAJR-0DB6gonvh6g2A9wyr26lE2tUgypCQGRJAmRr89T3wDGQKyAF9196lxGf6wEz8cQqAmQh7gRDrytUh8L746mAhlYUIT7UhTammSA7oKBohL8cBzsBnzsLLf4oByIdyqAoA6RLgCFqsIQ+RNgxmYwJmpnB6WFZn6Bhml9Fnvw3RdJ8GXg9w5B5nRnKMdm1A9n9j4m5AfGVAKA-HrAwJfSOhBBeazGxaLG+aRbgQ0mRAMm6I8QCQKobm7mvTc4XjwJI5z5OK9Ig5eKjLgQPwFB9ijGAIT8SBmzzH3bknZLf7izeHgLxz4XUhN7CXt7Ug1KkKNL1S17L7Ug9KxyaX0kTLqnwzgzXgrgyi+R4D2XOXFDk0B0OD-0uDgN2BMgIQhCRCpH7RxC4BJCjCQmKC+7UhmD5zLRrROp7FOXYGNHaKAHCJpHf6tVwRIQ-dxVgWoAfSwXF9IWDkVAGLXD+dNLmAAByZ1jOPJqKmK-oNFj2X2Fk9IJBlqrlgeoNzxvepVgIYJgsJ6JwF2dDIViiYDK18CLNUdK4NgMVwQ+V6NiQwhOrCAGVuVvl-taNxFr8NYys7NuUEog4-Eigd14yGiOAGoaDFJ-gbpv0Pp2y4EOycoTJupfgBZ05vMZNvAptYqVgKuQhWCYGKgKFigPWUZwxMCEySZuK81y12ga13Ic+K6MvR19U1191pFyKmOL19d-u7xfesNu22c1IcBkJsZuNwV4VgAJTCHTczcSfvajerdzejEYkLbzarflDLf2MZeLd0JRV1Vuccf4DhabZbYIzba6eBl6Y+u+rRLEDgBsEaA2AfyrlHfHZefdhEMZt7bAH7badkadH1o2oo6o+7duszp+uwf+rHrTPepGJGKfr+N8dBa3YhZ3f6DhunPNleCqElKtPgPE8k7EdJgaPVeYHNm0eRrhyDvY5IbDpYBGKzPof4+TZNuE7ykZvhs4CuDk+k5DfM8s7nOjLVdabtORLU7vxHpwbzonp48jr49g83fBaM5sChdM+nPsQbpQYgvgNC8brs6NsU9aaXPao09vtDrrpBu85zIM8E4C6C6s+8XONs8-vhvy8ECbtc7Y+S4xvEm3OxuJKIbxuPLIdPO8qodmtZPZMWp85BcM5tZM9y7inNj3AK5SqZuDIG6G6ytVZac6gS43YE-8567YF-JdioCODYH44LJehjYZtFuXpOfGcmYf2YEM9Tew5W+Oe2cgwO8uGO+zVO6Y+sY-L26WfOcUY+qOcUqe7OYuciquHe4kt24u65xMnGcgF9FRAXYoHznO+HaB5iBB9lHB6gEXah524oSHfGcqAvONsaF9DsZwGneoG3nPmh4x-IjCAHFx-2IJ9nfPlm+6+M8W-IutFohUGW-NI4rW985fI3jbuJc+7zALM1ggDwOjhdk1h01yKnbGxp5E4h6XZ9flSuvOplCxrgH-R04wmiCzYzVyo6nFJTGjDV4184C16Qzp6y4W6W+oCuBeHW9fM2958Hf55-Bu5UFO5t9+-x+l6J9l6R8h8MXakEBcENkw-W0y-m4Z4LIAZZ7Z4BBeNt65425okd8Aud+YEF+F9F7gE1jj4pHsSl5nZ97ykD+D7+8L34-KDzmbduF2GEVMexcxfr6CK+fJfedsfA4cc4WcdFLWM79yZPbzDPcOIvYbUAeuAweihB1RCoA5fC47fQ58VR+2iV71+qoKsN4AA1ir9bv3h1dfOpTrCqt+VvIozfr6c70bOOIzJ6waeSK-O59YagH9oMNqbGFbkXiopTu-XHfxP-WG0f8WMlCDnCRJbADP6FLZUjBXVKmll45pZMohUgH6VUQMAnUvAPKpj8qA52YBvFSn5AM72w3RXvv3ypbAj+9VEwLvyyor8D+NVTfmQOMAUCIK8NexJwFU40dz+o9LTql0frpdJi9-Kvk-1r4bVDqVACTlJzhLw1zsog0rlnXK650eqVXPqmKUIbTBiGHnLxK+HIYTVKGl5UmjQza73l9OXPSvo-xr4v9GawgjKscXhrvApBV9cvkYIf7V9n+BGOEAvDkBxM+BJg5wY9ALJvU9anAFgOF3gJgkximzdHksyu6rN-4YQEnhEJWYPw1m3MMIc712avdJ2sQr7mkJYDXN2B7nO+p5z06dcLWXpYwU4Nr6uDWgCfEFqUIEHQZL4ejYbvDUMC8s4SwQgwO8Bka3EsGqNTTmoPeppcp6d-BwfwNMEuCrAbgjwcMK8HlDfBwXYMlcHeDjcIuIbBYZJ2kGscehFXf9Hgxq77kVB9XUao1yLrNcdB1DG8vNXa5U1eBUwsoXUPGGVDOe1QxwbUJcGzCrSTQzgEsJIDBDPhJXOwdjkeHFCahowx6PcLkBTEk4nIQET6WBHeD6hEI6IK82xbWp7BTwkYXCLBFBN+WqaF9om3hjqsvSYIjNuKzEL-s8oSVEDjWwMIxBZusImYa+SxElta0ukTgniN7w2hue8GL9qSNlZ5toS+AytL+3lDQcCoTLZ4DSUkbdCb6cglLu9Rv6GC0R0wuoW8J3q0UJGUjKRnkWc5sDURxQpPvyX0YD9DGcEYxj6yYGvAWhqQSLhaIdoyDNhMo8enXW46FCMuife3g60aHTlVhYgz+vAW9HrC0SbnXofkKdG6deOrokFvqNE6jdzsXwlOCG3Nixi-hLnO0dKMv7CMhiXnQYctTt6YxoxzVFTpYL673xCxnQ5clKIv4ccMxAw2-jmLdF5i5hzVd4PYgNrLDvEzY1qjqLK72jL+OwpQTjTq6cDCaWgkai1zJr6COuEYvUe6INGejgyHY44vAQ7EBiw+9YkGMn3LqQdlC8bYVviI5HJt7ExIwQvyOMA8ii2vEIUVSIFCwcRkvdAUfGKvYRtDaCnBzp1GvY1NWo5bcNPv2hIF8T8VOXMeuNiAFRI4jItgjuMTaGcQJuQGfkeIlanjpWZIykYq0PA6M1xm3a+JMMjEzi52XQUCe7DA6ntoqw-H1rUz5ANNUQnTD2I0QHYkAOmYon8GZVm76j6EG0d2PPxdDMBtCTfVpI3ySbN8rGJAbWveJk73i8WUEaSqvUraKVABUknSq3ygrqUoBTuMAfwHpZOtSWpkNCdhI3jXxs84ef3CAGPZfjB6xE2KqRLH5UT6JN7SMpezijviFJaPNPp3QoBiB4onvankX24TI8R+TvQHvkFcnuS-xMvPKHLxR4XjsRzIgDMK0M7XwqA9AHEHBLPHActxCrREpFFdrPxchwY2UcDW4HZjo6gEjCSjH3bDdDqFI3argJPHdlesVA4gXIEKp0D6gJVcgQdSIFr8SBhvJqS2VKoriOqQYrYX2MJIDj9hQ4o4RQ1HGnDWut5S4QqOnG6SSp9uH3JQLH4VS4SptNaeAJOrtTD+XUlqcYGakNVyqO0mgfAG6n7SGBQk6cu8CuCtjvhIbG6Z2K6HaT5pQE1idACerXxoW3FQyBAEba0t+ARXURk6HgJ7hgZFWG0pcCuBFiIZdYOKDUSokZg6p+YFhMgjGw0Eg4tBLQpwEuxUT4G6gRBuWU2mRtIp7BFkQm24KxTaoYYZqElI1HJTowyE3cNSIBmVphUxHCRsA1YBlFfw9ACJjEwFlxM7wDAkdM2gkaBDFYUjWgiIE4BQJXgdiSRv0xyLhMVA6vTQvUA0LvB6gLALWS8HsQMDCJcpE0ai32AbC0xVY++qnBrFzSyKC08yJ9Nqj5iIie4V4HdIfFxQXZbstBlxLeBrD-hlMDnAZ39L98TJnrEiemDH5OdyJ3iKyVVKonw0rgUckGQmMMDhdK6LLdtmh04khkQOEEymVl0Th4Y8OUzT9iSKSqiFEJvIxmalOjYoTOxqYysZwK47yiihlrYOZdTH6Wi5xe9Czj6OG7wEkqfUpLg6Kv6DEdOAzcMdcK67tzCuetQbsmK7ENyOBfQ6-lmNrGFSuehcoQZ3PC5XSvGURXee7PvgaFza-ss2Y3JXmDFrZrc0FjPLKlj8J+4gsTi2MXHWdUJKY8+cvPkF4ksa-Y2rqNLUHDiDhY4vQTNIME3yt55g1aYfO1q3TX5lmc2E9PLF3p5U2HXDvhwrguSoAbk0jqePI6akqOM3YEOXPwV9t-mrAUrqlVCpWkGO5CohepzQXFyCOWCnBU6DI40KCFdCyhTABIUcKyFTIFZP8KoX0dOFTIehXflQU4cmFmCmZtLFwUiL+FuyFzsItIWUdyFgij+VhykUYKq4sisIJSHYVwlaFYi7hdaAUVqKBFQ8yRegqmaEcsuJ3agEcHkWM1CBaoKqirz2n2JTebUtxcrwN5nSqAXixhmf2UU8LDFW02qe1I8VnSgl2vS6lEv8Vq9YlISrsSov-7L8ElqvYqskp8WVU-FWSwJabyHmMKdFOAV3ndwMV4L0loYZGdErV6FLgluSs6qvzqXZKilQisJVUqXo5VfFLSxJf+hyXHTelnUVpcktMXULulGS4ZfrwKWDL4l0y3-rMvaWaLVyJS2xRqQoBC8RerPbPhL2cXVKWoCy1pQ0riWf1al-Sk5SkuempAaiXSiJT0ryV9KslzQ1PI0qGWPKRl-Sl5cstSUwADwdyggdtKOVfLLcry05WVMyVdTDAl2H5dcuHQTL7lUyj5TMqhXtCTeby+ZcisWWoq7wsK5BQwu0XrLyl1vSpa-yBVYrWlhgXFRirOWQqzpVK9FYIW4W8LJlNSulUb1BXeL3lzSz5c8s5XBLxlZKyJcCr5XUrwVlA9lerzRV4rEuay5hRn22Vi9c+pKlxeSp5Uoqzp5sGALpCgCXSrQkqrVTqquX4r+AtyoVQ8vVXYqzpicnWVysxWWrWlNq94DKqdD-LzVSKh1f0sTma8aVEKkVV1O9WMrjVAc5CO6rZX+rrVOnZ1b6olURq1eTql1ToweaN4HgaozKbeK8ZPjrQ5TYqJU0HpPwfGyan0n7hor1FXxztW0YHKLVekS17iWGRQWiIMS4u03YiLcAWSUB1BXWNgNxKTUBMsAxazShqU2BxpMZnYRoGVlD79TZB6YwMoAFYQQAMwg862dSAFqAgA7IMYOQMgFAAuAJSAABR2BbBkAIAMCEH0PwrqQAOoSUF9AIIP4AAMoMGQC0gsAsEVdRABEAaA3IAAdQ2CZAj1ZICuDEBqDnrL1RQa9QQohDIBpMdQEALBHpCQbPc0Gl0ANHEjOCwIOBOHtaGcC7qDGR612OeqQ2yRUNWAbWM4EmZVdN1TQMCC+pg1hBiQAARXPTwBH1VG6DRoDkDSA8CtGuAAxovTMbn10Gs9Bel3UygF0R65uBMxeLRA1A561UBkwhAABhG0E4DE0bhz1CgCEMSAACC+qwkN613UxB71lAPjdRqgJYBP1eceADyDwIIAT2+IOiEerACVxz1VQGTAAEk-QsAPAi-jID2RNNcoEXvjGM3QayQbIOAN+umB-rPozgIDauooCwRUswm1nspso38bV1mkeLUeolAFJz1ZIYyJ+vCLIADwq68kGehcaJb6AyWp9dRsnT5b4iyAGxCAB0DZ8z2QW1dXRnGxSbb1mwegHHhdgAAxcTNGEqAQaUAZlEAGYDMBAA)
<!-- prettier-ignore -->
```sh
--parser babel
```

**Input:**
<!-- prettier-ignore -->
```jsx
html {

	line-height: 1.15;

	-webkit-text-size-adjust: 100%

}

body {

	margin: 0

}

* {

	box-sizing: border-box

}

main {

	display: block

}

:active, :focus, :hover {

	outline: 0;

	-webkit-tap-highlight-color: transparent

}

h1 {

	font-size: 2em;

	margin: .67em 0

}

hr {

	box-sizing: content-box;

	height: 0;

	overflow: visible

}

pre {

	font-family: monospace, monospace;

	font-size: 1em

}

a {

	background-color: transparent

}

abbr[title] {

	border-bottom: none;

	text-decoration: underline;

	-webkit-text-decoration: underline dotted;

	text-decoration: underline dotted

}

b, strong {

	font-weight: bolder

}

code, kbd, samp {

	font-family: monospace, monospace;

	font-size: 1em

}

small {

	font-size: 80%

}

sub, sup {

	font-size: 75%;

	line-height: 0;

	position: relative;

	vertical-align: baseline

}

sub {

	bottom: -.25em

}

sup {

	top: -.5em

}

img {

	border-style: none

}

button {

	padding: 0;

	border: none;

	font: inherit;

	color: inherit;

	background-color: transparent;

	cursor: pointer

}

button, input, optgroup, select, textarea {

	font-family: inherit;

	font-size: 100%;

	line-height: 1.15;

	margin: 0

}

button, input {

	overflow: visible

}

button, select {

	text-transform: none

}

[type=button], [type=reset], [type=submit], button {

	-webkit-appearance: button

}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {

	border-style: none;

	padding: 0

}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {

	outline: 1px dotted ButtonText

}

fieldset {

	padding: .35em .75em .625em

}

legend {

	box-sizing: border-box;

	color: inherit;

	display: table;

	max-width: 100%;

	padding: 0;

	white-space: normal

}

progress {

	vertical-align: baseline

}

[type=checkbox], [type=radio] {

	box-sizing: border-box;

	padding: 0

}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {

	height: auto

}

[type=search] {

	-webkit-appearance: textfield;

	outline-offset: -2px

}

[type=search]::-webkit-search-decoration {

	-webkit-appearance: none

}

::-webkit-file-upload-button {

	-webkit-appearance: button;

	font: inherit

}

details {

	display: block

}

summary {

	display: list-item

}

[hidden], template {

	display: none

}

h1, h2, h3, h4, h5, h6, p {

	line-height: 1;

	margin: 0

}

li, ul {

	box-sizing: border-box;

	list-style: none;

	padding: 0;

	margin: 0

}

button, input, label, select, textarea {

	margin: 0;

	border: 0;

	padding: 0;

	display: inline-block;

	vertical-align: middle;

	white-space: normal;

	background: none;

	line-height: 1

}

input:focus {

	outline: 0

}

input::placeholder {

	color: inherit;

	font-size: inherit

}

input::-webkit-input-placeholder {

	color: inherit;

	font-size: inherit

}

input::-moz-placeholder {

	color: inherit;

	font-size: inherit

}

input:-ms-input-placeholder {

	color: inherit;

	font-size: inherit

}

input::-ms-input-placeholder {

	color: inherit;

	font-size: inherit

}

input, textarea {

	box-sizing: border-box

}

input[type=search] {

	-webkit-appearance: textfield;

	-webkit-box-sizing: content-box

}

::-webkit-search-decoration {

	display: none

}

textarea {

	overflow: auto

}

select[multiple], textarea {

	vertical-align: top

}

::selection {

	color: inherit;

	background: inherit;

	text-shadow: inherit

}

::-webkit-selection {

	color: inherit;

	background: inherit;

	text-shadow: inherit

}

::-moz-selection {

	color: inherit;

	background: inherit;

	text-shadow: inherit

}

table {

	border-collapse: collapse;

	border-spacing: 0

}

td, th {

	padding: 0

}

blockquote {

	margin: 0

}

@font-face {

	font-family: icomoon;

	src: url(fonts/src/icon-fonts/icomoon.eot);

	src: url(fonts/src/icon-fonts/icomoon.eot) format("embedded-opentype"), url(fonts/src/icon-fonts/icomoon.ttf) format("truetype"), url(fonts/src/icon-fonts/icomoon.woff) format("woff");

	font-weight: 400;

	font-style: normal;

	font-display: block

}

[class*=" icon-"], [class^=icon-] {

	font-family: icomoon!important;

	speak: none;

	font-style: normal;

	font-weight: 400;

	font-variant: normal;

	text-transform: none;

	line-height: 1;

	-webkit-font-smoothing: antialiased;

	-moz-osx-font-smoothing: grayscale

}

.icon-ars:before {

	content: "\e900"

}

.icon-azn:before {

	content: "\e901"

}

.icon-bgn:before {

	content: "\e902"

}

.icon-brl:before {

	content: "\e903"

}

.icon-cop:before {

	content: "\e904"

}

.icon-eur:before {

	content: "\e905"

}

.icon-idr:before {

	content: "\e906"

}

.icon-inr:before {

	content: "\e907"

}

.icon-kzt:before {

	content: "\e908"

}

.icon-mdl:before {

	content: "\e909"

}

.icon-pln:before {

	content: "\e90a"

}

.icon-rub:before {

	content: "\e90b"

}

.icon-try:before {

	content: "\e90c"

}

.icon-uah:before {

	content: "\e90d"

}

.icon-usd:before {

	content: "\e90e"

}

.icon-uzs:before {

	content: "\e90f"

}

body, html {

	height: 100%;

	-ms-text-size-adjust: 100%;

	-webkit-text-size-adjust: 100%;

	-webkit-font-smoothing: subpixel-antialiased;

	-moz-osx-font-smoothing: grayscale;

	overflow-x: hidden

}

@media screen and (max-width:479.9px) {

	body, html {

		min-height: 100%;

	}

}

body {

	font-family: Open Sans, sans-serif;

	font-size: 16px;

	color: #fff;

	/*background: url(img/fon.jpg) 50% 0 no-repeat, #000;*/

	background-color: #0d2324;

	background-size: cover;

	background-position: center;

	min-height: 100vh;

}

.header {

	color: #fff;

	display: -webkit-flex;

	display: flex;

	max-width: 1056px;

	width: 100%;

	margin: 0 auto;

	padding: 28px 40px 20px;

	font-size: 18px;

	font-weight: 700;

	margin-bottom: 20px

}

@media screen and (max-width:919.9px) {

	.header {

		-webkit-flex-direction: column;

		flex-direction: column;

		padding: 84px 16px 0

	}

}

@media screen and (max-width:479.9px) {

	.header {

		padding: 14vh 16px 5px;

		font-size: 16px

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.header {

		-webkit-flex-direction: row;

		flex-direction: row;

		-webkit-justify-content: space-between;

		justify-content: space-between;

		font-size: 14px;

		padding: 14px 16px

	}

}

.header__spin {

	max-width: 35%;

	width: 100%;

	padding-right: 20px

}

@media screen and (max-width:919.9px) {

	.header__spin {

		-webkit-align-items: center;

		align-items: center;

		display: -webkit-flex;

		display: flex;

		-webkit-justify-content: center;

		justify-content: center;

		max-width: 100%;

		padding-right: 0

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.header__spin {

		-webkit-align-items: flex-start;

		align-items: flex-start;

		-webkit-justify-content: flex-start;

		justify-content: flex-start;

		max-width: 35%;

		padding-right: 20px

	}

}

.header__spin-value {

	margin-left: 4px

}

.header__logo {

	cursor: pointer;

	display: -webkit-flex;

	display: flex;

	-webkit-align-items: flex-start;

	align-items: flex-start;

	-webkit-justify-content: center;

	justify-content: center;

	margin: 0 auto;

	-webkit-flex-grow: 1;

	flex-grow: 1;

	max-width: 40%

}

@media screen and (max-width:919.9px) {

	.header__logo {

		position: absolute;

		left: 50%;

		top: 12px;

		-webkit-transform: translatex(-50%);

		transform: translatex(-50%);

		max-width: 100%

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.header__logo {

		position: inherit;

		left: inherit;

		top: inherit;

		-webkit-transform: inherit;

		transform: inherit

	}

}

.header__logo>img {

	width: 200px;

}

@media screen and (max-width:479.9px) {

	.header__logo>img {

		width: 150px

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.header__logo>img {

		width: 92px

	}

}

.header__registration {

	display: -webkit-flex;

	display: flex;

	-webkit-flex-direction: column;

	flex-direction: column;

	text-align: right;

	max-width: 35%;

	width: 100%;

	padding-left: 20px

}

.header__img {

	max-width: 100px;

	margin: 20px auto;

	display: none !important;

}

@media screen and (max-width: 919.9px) {

	.header__img {

		display: flex !important;

	}	

}

@media screen and (max-width: 420px) {

	.header__img {

		margin: 10px auto;

		max-width: 60px;

	}

}

.header__img img {

	display: block;

	max-width: 100%;

	height: auto;

}

@media screen and (max-width:919.9px) {

	.header__registration {

		-webkit-align-items: center;

		align-items: center;

		max-width: 100%;

		padding: 14px 0;

		text-align: center;

	}

}

@media screen and (max-width:479.9px) {

	.header__registration {

		padding: 10px;

		margin-top: 5px;

		/*background-color: #fff;*/

		border-radius: 10px;

		font-size: 14px;

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.header__registration {

		-webkit-align-items: flex-end;

		align-items: flex-end;

		max-width: 35%;

		padding: 0 0 0 20px

	}

}

.header__registration>a {

	color: inherit;

	margin-left: 4px

}

.main {

	position: relative;

	display: -webkit-flex;

	display: flex;

	-webkit-flex-direction: column;

	flex-direction: column;

	width: 100%

}

.main__modal {

	background-color: rgba(0, 0, 0, .8);

	display: none;

	visibility: hidden;

	position: fixed;

	padding: 10px;

	overflow-y: auto;

	top: 0;

	right: 0;

	bottom: 0;

	left: 0;

	z-index: 9999;

	-webkit-animation-name: appearing;

	animation-name: appearing;

	-webkit-animation-duration: .8s;

	animation-duration: .8s

}

.main__modal_show {

	display: -webkit-flex;

	display: flex;

	visibility: visible

}

.main__wheel-layout {

	cursor: pointer;

	position: relative;

	display: -webkit-flex;

	display: flex;

	-webkit-align-items: center;

	align-items: center;

	-webkit-justify-content: center;

	justify-content: center;

	margin: auto;

	width: 628px;

	height: 628px;

	background: url(img/1.png) 50% 0 no-repeat;

	background-size: 100%;

	/*padding-bottom: 48px;*/

	margin-top: 20px;

	box-sizing: content-box

}

.main__wheel-layout::after {

	content: '';

	position: absolute;

	border-radius: 100%;

	height: 100%;

	width: 100%;

	background-image: url(img/wheel-shadow2.png);

	background-repeat: no-repeat;

	background-position: center;

	background-size: contain;

	pointer-events: none;

	z-index: 1;

	opacity: 0;

	animation: wheelShadow 1s ease-in-out infinite alternate;

}

.main__wheel-layout::before {

	content: '';

	position: absolute;

	height: 100%;

	width: 100%;

	background-image: url(img/Ring2.png);

	background-repeat: no-repeat;

	background-position: center;

	background-size: contain;

	pointer-events: none;

	z-index: 2;

}

@keyframes wheelShadow {

	0% {

		opacity: 0;

	}

	100% {

		opacity: 1;

	}	

}

@media screen and (max-width:1919.9px) {

	.main__wheel-layout {

		width: 36vw;

		height: 36vw;

		padding-bottom: 34px

	}

}

@media screen and (max-width:1199.9px) {

	.main__wheel-layout {

		width: 52vw;

		height: 52vw;

		padding-bottom: 14px

	}

}

@media screen and (max-width:919.9px) {

	.main__wheel-layout {

		width: 460px;

		height: 460px;

		padding-bottom: 0

	}

}

@media screen and (max-width:479.9px) {

	.main__wheel-layout {

		height: 84vw;

		width: 84vw

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__wheel-layout {

		height: 38vw;

		width: 38vw;

		padding-bottom: 0

	}

}

.main__wheel-layout.stage-1 .main__spinner-img {

	-webkit-animation-name: wheel-shake-1;

	animation-name: wheel-shake-1;

	-webkit-animation-duration: 2s;

	animation-duration: 2s;

	-webkit-animation-iteration-count: infinite;

	animation-iteration-count: infinite;

	-webkit-animation-timing-function: ease-in-out;

	animation-timing-function: ease-in-out

}

.main__wheel-layout.spin-to-stage-two .main__spinner-img {

	animation: spinToStageTwo 4s ease-in-out infinite;

	-webkit-transform: rotate(1125deg);

	transform: rotate(1125deg)

}

.main__wheel-layout.stage-2 .main__spinner-img {

	animation: wheel-shake-2 2s ease-in-out infinite forwards;

}

.main__wheel-layout.spin-to-stage-three .main__spinner-img {

	animation: spinToStageThree 4s ease-in-out forwards;

}

.main__achievements {

	display: -webkit-flex;

	display: flex;

	-webkit-flex-direction: column;

	flex-direction: column;

	position: absolute;

	top: 24px;

	left: -28px;

	z-index: 1;

	-webkit-transform: translateX(-100%);

	transform: translateX(-100%)

}

@media screen and (max-width:919.9px) {

	.main__achievements {

		-webkit-flex-direction: row;

		flex-direction: row;

		-webkit-align-items: center;

		align-items: center;

		-webkit-justify-content: space-between;

		justify-content: space-between;

		top: -95px;

		left: 50%;

		-webkit-transform: translateX(-50%);

		transform: translateX(-50%);

		width: 454px

	}

}

@media screen and (max-width:479.9px) {

	.main__achievements {

		top: -6vw;

		width: 96vw

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__achievements {

		top: -2px;

		width: 76vw

	}

}

.main__achievements-bonus, .main__achievements-spin {

	width: 151px;

	height: 149px;

	-webkit-animation-name: appearing;

	animation-name: appearing;

	-webkit-animation-duration: 1s;

	animation-duration: 1s

}

@media screen and (max-width:919.9px) {

	.main__achievements-bonus, .main__achievements-spin {

		width: 108px;

		height: 107px

	}

}

@media screen and (max-width:479.9px) {

	.main__achievements-bonus, .main__achievements-spin {

		width: 27vw;

		height: 27vw

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__achievements-bonus, .main__achievements-spin {

		width: 15vw;

		height: 15vw

	}

}

.main__achievements-bonus.hide, .main__achievements-spin.hide {

	display: none

}

.main__achievements-bonus {

	background: url(img/custom_bonus.png) no-repeat 50%;

	background-size: cover

}

.main__achievements-spin {

	background: url(img/custom_spin.png) no-repeat 50%;

	background-size: cover;

	margin: 20px 0 0

}

@media screen and (max-width:919.9px) {

	.main__achievements-spin {

		margin: 0 0 0 40px

	}

}

.main__spinner {

	position: relative;

	width: 468px;

	height: 468px;

}

@media screen and (max-width:1919.9px) {

	.main__spinner {

		width: 27vw;

		height: 27vw

	}

}

@media screen and (max-width:1199.9px) {

	.main__spinner {

		width: 39vw;

		height: 39vw

	}

}

@media screen and (max-width:919.9px) {

	.main__spinner {

		width: 342px;

		height: 342px

	}

}

@media screen and (max-width:479.9px) {

	.main__spinner {

		width: 74%;

		height: 74%

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__spinner {

		width: 74%;

		height: 74%

	}

}

.main__spinner-img {

	background: url(img/custom_wheel4.png) 50% no-repeat;

	background-size: contain;

	width: 100%;

	height: 100%;

	padding-bottom: 100%;

	transition: transform 5s ease;

}

.main__spinner-overlay {

	background: url(img/wheel-overlay-2.png) 50% no-repeat;

	background-size: 100%

}

.main__spinner-button, .main__spinner-overlay {

	position: absolute;

	top: 0;

	right: 0;

	bottom: 0;

	left: 0;

	margin: auto

}

.main__spinner-button {

	z-index: 4;

	display: -webkit-flex;

	display: flex;

	width: 30%;

	height: 30%;

	-webkit-align-items: center;

	align-items: center;

	-webkit-justify-content: center;

	justify-content: center

}

.main__spinner-button:before {

	content: "";

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	-webkit-animation: blink 1.2s ease-in-out infinite;

	animation: blink 1.2s ease-in-out infinite;

	background: url(img/wheel-button-glow.png) no-repeat;

	background-size: 100% auto

}

@media screen and (max-width:479.9px) {

	.main__spinner-button:before {

		top: 50%;

		left: 50%;

		-webkit-transform: translate(-50%, -50%);

		transform: translate(-50%, -50%)

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__spinner-button:before {

		top: 50%;

		left: 50%;

		-webkit-transform: translate(-50%, -50%);

		transform: translate(-50%, -50%);

		width: 72%;

		height: 72%

	}

}

.main__spinner-button>button {

	cursor: pointer;

	width: 85%;

	height: 85%;

	font-size: 22px;

	font-weight: 700;

	text-transform: uppercase;

	color: #245900;

	border-radius: 50%;

	background: url(img/wheel-button-text.png) 0 0 no-repeat;

	background-size: cover;

	box-shadow: 0 5px 18px rgba(0, 0, 0, .75);

	text-shadow: 0 1px 0 #b5ff63, 0 0 9px rgba(132, 237, 17, .4);

	position: relative

}



@media screen and (max-width:479.9px) {

	.main__spinner-button>button {

		width: 86%;

		height: 86%;

		font-size: 4.6vw

	}

}



.main__win {

	position: absolute;

	top: 14px;

	right: 0;

	left: 0;

	width: 214px;

	height: 310px;

	margin: auto;

	z-index: 3;

	background: url(img/wheel-win-frame2.png) 50% 0 no-repeat;

	background-size: 100%

}

@media screen and (max-width:1919.9px) {

	.main__win {

		top: 8px;

		width: 12vw;

		height: 50%

	}

}

@media screen and (max-width:1199.9px) {

	.main__win {

		width: 18vw

	}

}

@media screen and (max-width:919.9px) {

	.main__win {

		top: 8px;

		width: 156px;

		height: 230px

	}

}

@media screen and (max-width:479.9px) {

	.main__win {

		top: 4px;

		width: 34%;

		height: 50%

	}

}

@media screen and (orientation:landscape) and (max-height:420px) and (min-aspect-ratio:13/9) {

	.main__win {

		top: 5px;

		width: 32%;

		height: 43%

	}

}

@-webkit-keyframes blink {

	0% {

		opacity: 0

	}

	50% {

		opacity: 1

	}

	to {

		opacity: 0

	}

}

@keyframes blink {

	0% {

		opacity: 0

	}

	50% {

		opacity: 1

	}

	to {

		opacity: 0

	}

}

@-webkit-keyframes appearing {

	0% {

		opacity: 0

	}

	to {

		opacity: 1

	}

}

@keyframes appearing {

	0% {

		opacity: 0

	}

	to {

		opacity: 1

	}

}

@-webkit-keyframes wheel-shake-1 {

	0% {

		-webkit-transform: rotate(-4deg);

		transform: rotate(-4deg)

	}

	50% {

		-webkit-transform: rotate(4deg);

		transform: rotate(4deg)

	}

	to {

		-webkit-transform: rotate(-4deg);

		transform: rotate(-4deg)

	}

}

@keyframes wheel-shake-1 {

	0% {

		-webkit-transform: rotate(-4deg);

		transform: rotate(-4deg)

	}

	50% {

		-webkit-transform: rotate(4deg);

		transform: rotate(4deg)

	}

	to {

		-webkit-transform: rotate(-4deg);

		transform: rotate(-4deg)

	}

}

@keyframes spinToStageTwo {

	0% {

		-webkit-transform: rotate(-4deg);

		transform: rotate(-4deg)

	}

	70% {

		-webkit-transform: rotate(1080deg);

		transform: rotate(1080deg)

	}

	80% {

		-webkit-transform: rotate(1090deg);

		transform: rotate(1090deg)

	}

	to {

		-webkit-transform: rotate(1075deg);

		transform: rotate(1075deg)

	}

}

@keyframes wheel-shake-2 {

	0% {

		-webkit-transform: rotate(1075deg);

		transform: rotate(1075deg)

	}

	50% {

		-webkit-transform: rotate(1090deg);

		transform: rotate(1090deg)

	}

	to {

		-webkit-transform: rotate(1075deg);

		transform: rotate(1075deg)

	}

}

@keyframes spinToStageThree {

	0% {

		-webkit-transform: rotate(3turn);

		transform: rotate(3turn)

	}

	70% {

		-webkit-transform: rotate(2117deg);

		transform: rotate(2117deg)

	}

	80% {

		-webkit-transform: rotate(2125deg);

		transform: rotate(2125deg)

	}

	to {

		-webkit-transform: rotate(2117deg);

		transform: rotate(2117deg)

	}

}

.modal {

	margin: auto;

	width: 100%;

	overflow-y: auto

}

.modal__content {

	margin-bottom: 20px;

}

.modal__content p {

	font-size: 16px;

	margin-bottom: 0.5em;

	line-height: 1.4;

}

.modal__content span {

	color: #bdf400;

}

@media screen and (max-егге
```

**Output:**
<!-- prettier-ignore -->
```jsx
SyntaxError: Unexpected token (3:13)
  1 | html {
  2 |
> 3 | 	line-height: 1.15;
    | 	           ^
  4 |
  5 | 	-webkit-text-size-adjust: 100%
  6 |
```